
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";





*{
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html , body,#root{
  width: 100%;
  height: 100%;
  background-color: #2d2e30;
}